body {
    font-family: 'Noto Serif Arabic', 'Amiri', serif;
    line-height: 2.1;
    color: #1f1f1f;
    background-color: #fafafa;
    padding: 80px 20px;
    direction: rtl;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

/* العناوين */
h1 {
    font-size: 2.8rem;
    font-weight: 200;
    text-align: center;
    color: #111;
    margin-bottom: 60px;
}

h1 mark {
    background: none;
    color: #111;
    border-bottom: 1px solid #c5a059;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.4rem;
    color: #555;
    margin-top: 40px;
}

/* النص */
p {
    margin-bottom: 25px;
    text-align: justify;
    font-size: 1.1rem;
    color: #333;
}

/* الروابط */
a {
    display: inline-block;
    color: #c5a059;
    text-decoration: none;
    font-size: 0.85rem;
    border: 1px solid rgba(197, 160, 89, 0.3);
    padding: 8px 20px;
    margin: 10px 5px;
    transition: 0.4s;
}

a:hover {
    background-color: #c5a059;
    color: white;
}

/* السوشيال */
.social-icons {
    text-align: center;
    margin-bottom: 30px;
}

/* الصور */
img {
    max-width: 300px;
    height: auto;
    margin: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: 0.4s;
}

img:hover {
    transform: scale(1.03);
}

/* توزيع الصور */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* التعليقات */
#comments {
    margin-top: 20px;
}

.comment-box {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* الزر */
button {
    background: #c5a059;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #a8843d;
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 20px auto;
    }
}
